#contenedor_principal{
    display: flex;
    flex-direction: row;
    width: 615px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    justify-self: center;
    justify-content: center;
}
#img_perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#button {
    color: #555555;
    padding: 0.7em 1.7em;
    font-size: 18px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    align-self: center;
    width: 220.017px;
  }
  
#button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
.input_name{
    width: 220.017px;
    height: 21px;
}
input {
    border: none;
    outline: none;
    padding: 0.7em 1.7em;
    margin: 20px;
    width: 521px;
    font-size: 18px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    border-radius: 15px;
    color: #555555;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
div p{
    align-self: center;
    border: 2px solid black;
    padding: 5px;
    border-radius: 40px;
}
body{
    background-color: #e8e8e8;
}